{{#partial "header"}}{{/partial}}
{{#partial "content"}}

    <div class="container text-center">
        {{#if InventoryWithISP}}
            <h1>Super Heroes!</h1>
            <p><a class="btn btn-outline-primary" href="/heros/new">+ Add New Hero</a></p>
            <p data-bs-toggle="tooltip" data-bs-placement="top"
               title="Call from Thanos, All heroes will be wiped, the action is irreversible"><a
                    class="btn btn-danger" href="/squads/delete">Destroying Planet Earth Prohibited! <i
                    class="fa fa-skull-crossbones"></i> </a></p>
            <div class="container text-start mx-auto">
                <div class="row">
                    {{#each InventoryWithISP}}
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{itemName}}</h5>
                                    <p class="card-text"><a href="/squads/{{partnerId}}">Hero Squad: {{name}}</a></p>
                                    <a href="squads/{{squadId}}/heros/{{heroId}}" class="btn btn-primary"> Spy On {{itemName}}</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <div class="container text-center border border-primary mt-5">
                <p>Ooops!, Some rogue Thanos Agent Wiped all life forms on earth <i class="fa fa-heart-broken"></i></p>
                <p>I think you were the agent though 🤔, create a superhero to prove that you're not the evil agent.</p>
                <p><a class="btn btn-outline-primary" href="/heros/new">Add A New Hero <i class="fa fa-mask"></i></a></p>
            </div>
        {{/if}}
    </div>

{{/partial}}

{{> "layout.hbs"}}
