{{#partial "header"}}{{/partial}}
{{#partial "content"}}

    <div class="container text-center">
            <p><a class="btn btn-outline-primary" href="/inventory/new">+ Add New Inventory</a></p>
            <div class="container text-start mx-auto">
                <div class="row">
                    {{#each InventoryWithISP}}
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <ul style="list-style-type: disc; padding-left: 0;">
                                        <li style="text-align: left;"><a href="/partnerisps/{{partnerId}}/inventories/{{itemId}}"> {{itemName}}, </a>Serial No. {{itemSerial}}</li>
                                        <li style="text-align: left;">Partner:<a href="/partnerisps/{{partnerId}}">{{partnerName}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {{/each}}
                </div>
            </div>
    </div>

{{/partial}}

{{> "layout.hbs"}}
